# Ignore everything
*

# But not these files...
!.gitignore
!*.java
!*.sh
!*.m

# ...even if they are in subdirectories
!*/

# ignore those folders
/bin/
/experiment/
/referencePointsOutput/
/configurationFiles/
/irace/
/weightVectorsKeLi/
/octave/
/referencePointsKeLi/
/MGANWSUMold/
/lib/
/SMPSOStudy/
/referencePoints/
/experiment/
